@font-face {
  font-family: 'Romana BT';
  src: url('../assets/fonts/RomanaBT-Bold.woff2') format('woff2'),
    url('../assets/fonts/RomanaBT-Bold.woff') format('woff'),
    url('../assets/fonts/RomanaBT-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Romana BT';
  src: url('../assets/fonts/RomanaBT-Roman.woff2') format('woff2'),
    url('../assets/fonts/RomanaBT-Roman.woff') format('woff'),
    url('../assets/fonts/RomanaBT-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-ExtraBold.woff2') format('woff2'),
    url('../assets/fonts/OpenSans-ExtraBold.woff') format('woff'),
    url('../assets/fonts/OpenSans-ExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-Bold.woff2') format('woff2'),
    url('../assets/fonts/OpenSans-Bold.woff') format('woff'),
    url('../assets/fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-BoldItalic.woff2') format('woff2'),
    url('../assets/fonts/OpenSans-BoldItalic.woff') format('woff'),
    url('../assets/fonts/OpenSans-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-LightItalic.woff2') format('woff2'),
    url('../assets/fonts/OpenSans-LightItalic.woff') format('woff'),
    url('../assets/fonts/OpenSans-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-Italic.woff2') format('woff2'),
    url('../assets/fonts/OpenSans-Italic.woff') format('woff'),
    url('../assets/fonts/OpenSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-Light.woff2') format('woff2'),
    url('../assets/fonts/OpenSans-Light.woff') format('woff'),
    url('../assets/fonts/OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-Italic_1.woff2') format('woff2'),
    url('../assets/fonts/OpenSans-Italic_1.woff') format('woff'),
    url('../assets/fonts/OpenSans-Italic_1.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../assets/fonts/OpenSans-Regular.woff') format('woff'),
    url('../assets/fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-SemiBold.woff2') format('woff2'),
    url('../assets/fonts/OpenSans-SemiBold.woff') format('woff'),
    url('../assets/fonts/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-SemiBoldItalic.woff2') format('woff2'),
    url('../assets/fonts/OpenSans-SemiBoldItalic.woff') format('woff'),
    url('../assets/fonts/OpenSans-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
