@import 'variables';
@import 'functions';

// Media Query Breakpoints
@mixin media-bp-up($name, $bps: $breakpoints) {
  $bp: map-get-strict($bps, $name);
  $min: if($bp != 0, $bp, null);

  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin media-bp-down($name, $bps: $breakpoints) {
  $bp: map-get-strict($bps, $name);
  $max: if($bp and $bp > 0, $bp - 0.02, null);

  @if $max {
    @media (max-width: $max) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin build-columns(
  $columns: $columns,
  $gap: $column-gap,
  $bps: $breakpoints
) {
  %defaults {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: ($gap / 2);
    padding-left: ($gap / 2);
  }

  @each $breakpoint in map-keys($bps) {
    $min: map-get-strict($bps, $breakpoint);
    $label: if(if(0 != $min, $min, null), $breakpoint, 'all');

    .#{$label},
    .#{$label}-auto {
      @extend %defaults;
    }

    @for $i from 1 through $columns {
      .#{$label}-#{$i} {
        @extend %defaults;
      }
    }

    @for $i from 1 through $columns {
      .#{$label}-#{$i} {
        flex: 0 0 calc(100% * #{$i} / #{$columns});
        max-width: calc(100% * #{$i} / #{$columns});

        @if not($label == 'all' and $i == 0) {
          &--offset {
            $num: $i / $columns;
            margin-left: if($num == 0, 0, calc(100% * #{$i} / #{$columns}));
          }
        }
      }
    }
  }
}
