@import 'variables';
@import 'mixins';

.container {
  width: 100%;
  padding-right: ($column-gap / 2);
  padding-left: ($column-gap / 2);
  margin-right: auto;
  margin-left: auto;

  @each $breakpoint, $width in $container-widths {
    @include media-bp-up($breakpoint) {
      max-width: $width;
    }
  }
}

// Column wrap
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: ($column-gap / -2);
  margin-left: ($column-gap / -2);
}

@include build-columns();

.img-fluid {
  max-width: 100%;
  width: 100%;
}
