// Screen sizes
$breakpoints: (
  xs: 0px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1300px,
);

// Colors
$white: #ffffff;
$black: #000000;
$coral: #ff7a59;
$oxfordBlue: #374858;
$pickledBluewood: #253748;

$colors: (
  white: $white,
  black: $black,
  coral: $coral,
  oxfordBlue: $oxfordBlue,
  pickledBluewood: $pickledBluewood,
);

// Sizes
$sidebar-width: 19rem;

$container-widths: (
  xs: 360px,
  sm: 480px,
  md: 720px,
  lg: 960px,
  xl: 1160px,
  xxl: 1280px,
);

$columns: 12;
$column-gap: 2rem;
