@import 'src/styles/mixins';
@import 'src/styles/typography/extends';

.agencyLogo {
  display: block;
  @extend %typo-h4;
  line-height: 1;
  font-weight: 800;
  text-align: center;
  border: solid 4px $white;
  border-radius: 0.5em;
  padding: 0.65rem 0.8rem 0.5rem;
}
