@import 'src/styles/mixins';
@import 'src/styles/typography/extends';

.sidebar {
  $padding-y: 2.25rem;
  $padding-x: 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  width: $sidebar-width;
  min-height: 100vh;
  font-size: 0.925rem;
  color: $white;
  background-color: $oxfordBlue;
  border-top-right-radius: 3rem;
  box-shadow: 0.55rem -0.25rem 3rem rgba(0, 0, 0, 0.175);

  %link {
    color: rgba($white, 0.7);
    transition: color ease-out 0.15s;

    &:hover,
    &:focus,
    &:active {
      color: rgba($white, 1);
    }
  }

  a {
    text-decoration: none;
    color: $white;
  }

  &--header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: $padding-y calc(#{$padding-x} * 2);

    &--brand {
      white-space: nowrap;
    }
  }

  &--body {
    display: flex;
    overflow-y: auto;
    max-height: calc(100vh - (#{$padding-y} * 3.25));
    padding: 0 calc(#{$padding-x} - 8px) 0 $padding-x;
    margin: {
      top: calc(#{$padding-y} * 3.25);
      right: 8px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 4px;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba($white, 0.65);
    }

    &--inner {
      height: 100%;
      width: 100%;
      padding-bottom: calc(#{$padding-y} / 2);
    }

    &--menu {
      padding: 0 $padding-x calc(#{$padding-y} / 2) !important;
      margin: 0;

      li {
        margin: 0.8rem 0;

        &:first-child {
          margin-top: 0;
        }

        a {
          @extend %link;
        }
      }
    }

    &--info {
      padding: $padding-x;
      background-color: $pickledBluewood;

      &:not(:last-child) {
        margin-bottom: calc(#{$padding-y} / 2);
      }

      h1,
      p {
        margin: unset;
        font-size: 1em;
        color: rgba($white, 0.7);
      }

      h1 {
        @extend %typo-h5;
        color: rgba($white, 0.85);
        margin: 0 0 0.25rem;
      }

      &--links {
        display: flex;
        margin: 0.75rem 0 0;

        li {
          &:not(:first-child) {
            padding-left: 0.25rem;
          }

          &:not(:last-child) {
            padding-right: 0.25rem;
          }

          a {
            @extend %link;
          }
        }
      }
    }
  }
}
