@import '../mixins';

%typo-small {
  font-size: 80%;
}

%typo-h1 {
  font-size: 2.5rem;
  line-height: 1.15;
  margin-top: 0;
  margin-bottom: 0.35em;

  small {
    @extend %typo-small;
  }
}

%typo-h2 {
  font-size: 2rem;

  small {
    @extend %typo-small;
  }
}

%typo-h3 {
  font-size: 1.75rem;

  small {
    @extend %typo-small;
  }
}

%typo-h4 {
  font-size: 1.4rem;

  small {
    @extend %typo-small;
  }
}

%typo-h5 {
  font-size: 1.25rem;

  small {
    @extend %typo-small;
  }
}

%typo-p {
  font-size: 1rem;
}

%typo-list-unstyled {
  padding-left: 0;
  list-style: none;
}

%font-romana {
  font-family: 'Romana BT', Georgia, 'Times New Roman', Times, serif;
}
