@import 'extends';

h1,
.h1 {
  @extend %typo-h1;
}

h2,
.h2 {
  @extend %typo-h2;
}

h3,
.h3 {
  @extend %typo-h3;
}

h4,
.h4 {
  @extend %typo-h4;
}

p,
.p {
  @extend %typo-p;
}

.list-unstyled {
  @extend %typo-list-unstyled;
}

.text {
  &-center {
    text-align: center;
  }

  @each $name, $color in $colors {
    &-#{$name} {
      color: $color !important;
    }
  }
}

.font-romana {
  @extend %font-romana;
}
